@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

html, body {
  font-family: Inter, sans-serif;
}

a {
  color: #415ada;
  text-decoration: underline;
}

i {
  font-size: 25px;
}