.el-dialog__title {
  color: #1d2452;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.el-dialog {
  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(54, 62, 113, 0.24);
  border-radius: 16px;
  padding: 18px 24px;
  overflow: hidden;
}

.el-dialog__headerbtn {
  top: 17px !important;
}

.el-dialog__header {
  padding: 0 0 10px !important;
}

.el-dialog__close.el-icon.el-icon-close {
  margin-right: 20px;
  &:before {
    content: "\e78d" !important;
    font-size: 26px;
  }
}

.el-dialog__body {
  padding: 0 0 10px 0;
}